---
import Layout from '../layouts/Layout.astro';
import Nav from "../components/Nav.astro";
import Footer from '../components/Footer.astro';
---

<Layout title="Welcome to Astro.">
	<Nav/>
	<section class="container-fluid">
		<div class="row vh-50">
			<div class="col-8 d-flex justify-content-center align-items-center">
				<h1>Jumbotron</h1>
			</div>
			<div class="col-4 bg-jumbotron">
			</div>
		</div>
	</section>
	<Footer/>
</Layout>

<style>
	.bg-jumbotron{
		background-image: url("https://placehold.it/1080x566");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
    .montserrat {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
    }
	.vh-50{
		height: 50vh;
	}
</style>
 
