---
import Layout from '../layouts/Layout.astro';
import Nav from "../components/Nav.astro";
import Footer from '../components/Footer.astro';
---

<Layout title="Welcome to Astro.">
	<Nav/>
	<div class="container-fluid">
        <div class="row ">
            <div class="col-12">
                <img src="https://placehold.it/1920x1080" alt="">
            </div>
        </div>
    </div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-8">
				<h1>Jumbotron</h1>
			</div>
			<div class="col-4">
				<img src="" alt="" class="jumbotrón">
			</div>
		</div>
	</div>
	<Footer/>
</Layout>

<style>
	.jumbotrón{
		background-image: url("https://placehold.it/1080x566");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
    .montserrat {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
    }
</style>

