<footer class=" bg-dark text-white text-center py-5">
        <div class="container">
          <div class="row">
            <h6>We Made</h6>
            <div class="col-6">
              <h6>Codifika</h6>
            </div>
            <div class="col-6">
              <h6>Términos y Condiciones</h6>
            </div>
          </div>
        </div>
</footer>